body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url('F1-Logo.png');
  background-size: cover;
  background-position: center;
  font-size: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
}

header, nav, .container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.25em; 
}
footer ul li a {
  text-decoration: underline; 
}
footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 1.25em 0; 
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75em; 
  margin: 0 auto;
  padding: 0 1.25em; 
}

.footer-content p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  margin-left: 1.25em;
}

ul li:first-child {
  margin-left: 0;
}

ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #ff4500;
}

header h1 {
  text-align: center;
  font-size: 225%; 
  margin: 0;
  line-height: 1.5;
}

nav {
  overflow: hidden;
  margin-bottom: 1.25em; 
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0.875em 1.25em; 
  text-decoration: none;
  font-size: 112.5%; 
}

nav a:hover {
  background-color: #cc0000;
}

.active {
  background-color: #ff0000;
}

.container {
  padding: 1.25em; 
  border-radius: 8px;
  margin-bottom: 1.25em; 
}

h2 {
  font-size: 175%; 
  margin-top: 0;
  margin-bottom: 0.9375em;
  color: red;
}

p {
  font-size: 125%;
  line-height: 1.6;
  margin-bottom: 0.9375em; 
}

form {
  margin-bottom: 1.25em; 
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.625em; 
  margin-top: 0.3125em; 
  margin-bottom: 0.9375em; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 0.625em 1.25em; 
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff3333;
}

.newsletter,
.rating,
.buttons {
  margin-top: 0.625em; 
}

.newsletter input[type="checkbox"],
.newsletter label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.3125em;
}

.rating {
  margin-bottom: 0.9375em; 
}

.rating label {
  display: inline-block;
  margin-right: 0.625em; 
}

.buttons {
  margin-top: 1.25em; 
}

.buttons input[type="reset"],
.buttons input[type="submit"] {
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 0.625em 1.25em; 
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.625em; 
}
@media (max-width: 576px) {
}

@media (min-width: 577px) and (max-width: 992px) {
}

@media (min-width: 993px) {
}

.buttons input[type="reset"]:hover,
.buttons input[type="submit"]:hover {
  background-color: #ff3333;
}
